{% extends 'landing/base.html' %}
{% load static %}
{% block content %}
<h1 class="title-align">{{user.first_name}}'s Profile</h1>
<br/> <h2 class="title-align">Basic Information</h2>

<p class="profile-labels">Username: {{ profile_user }}</p>
<p class="profile-labels">First name: {{ user.first_name }}</p>
<p class="profile-labels">Last name: {{ user.last_name }}</p>




<h3 class="userprofile-heading">{{user.first_name}}'s Address</h3>
<p>{{address.address_one}}</p>
{% if address.address_two %}
<p>{{address.address_two}}
{% endif %}
<p>{{ address.city }}</p>
<p>{{address.zipcode}}</p>
<p>{{address.country}}</p>

{% endblock %} -->

<!-- landing/templates/landing/user_profile.html 

<h1>{{ profile_user.username }}'s Profile</h1>

{% if gender %}
<p>Gender: {{ gender.gender }}</p>
{% else %}
<p>Gender not set</p>
{% endif %}

{% if address %}
<p>Address:</p>
<ul>
    <li>{{ address.address_one }}</li>
    <li>{{ address.address_two }}</li>
    <li>{{ address.city }}</li>
    <li>{{ address.zipcode }}</li>
    <li>{{ address.country }}</li>
</ul>
{% else %}
<p>No address on file</p>
{% endif %} -->