.top-bar {
    position: sticky;
    top: 0;
    background-color: white;
    display:flex;
    justify-content: space-between;
    padding: 30px 10px;
    align-items: center;
}
.top-links {
    text-align: right;
}

#fundraise {
    padding: 10px 50px;
    margin-right:2px;
    border: 2px solid rgb(253, 207, 31);
    background-color: rgb(253, 207, 31);
    color: black;
    font-size: 20px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
}

#give {
    padding: 10px 50px;
    background-color: rgb(253, 207, 31);
    border: 2px solid rgb(253, 207, 31);
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}


.link-item {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-end;
    
}

.button-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.boxes {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3px;
}

.box {
    width: 10px;
    height: 10px;
    background-color: grey;
}

.btn {
    color: grey;
    border: 0px;
    background-color: white;
    font-size: 15px;
}


.logo img{
        width: 150px;
    
}

.special-moto {
    font-size: 75px;
    text-align: center;

}


/*#reveal {
    color: yellow;  
}

#restore {
    color: yellow;
}

/*for signup page*/



@media screen and (max-width:600px) {
    .link-item {
        flex: 25%;
    }
}

@media screen and (max-width: 450px) {
    .link-items {
        flex: 10%;
    }
}
  
#profile-btn{
    background-color: transparent;
    border: 0px transparent;
    
}

.title-align{
    text-align: center;
}

/*For login.html */

#nologin {
    text-align: center;

}

.form-container {
    display: flex;
    justify-content: center;
}