body {
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}

.address_form {
    align-items: center;
}


.address1 {
  display: flex;
  justify-content: space-between;
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 2px solid black;
  margin: 20px 20px;
  width: 50%;
  position: relative;
  left: 15%;

}

.address2 {
    display:flex;
    justify-content: space-between;
    border: none;
    background: transparent;
    outline: none; 
    border-bottom: 2px solid black;
    margin: 20px 20px;
    width: 50%;
    position: relative;
    left: 15%;
}

.city {
    display: flex;
    justify-content: space-between;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: solid 2px black;
    margin: 20px 20px;
    width: 50%;
    position: relative;
    left: 15%;
}

.zipcode {
    display: flex;
    justify-content: space-between;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 2px solid black;
    margin: 20px 20px;
    width: 50%;
    position: relative;
    left: 15%;
}

.countries {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 15%;
}

/*User names and passwords style*/

.first_name {
    display: flex;
    justify-content: space-between;
    border: transparent;

}